.portfolio {
  a {
    outline: none;
  }
  h2 {
    padding-top: 20px;

    color: #181818;
  }
  h3 {
    padding-top: 20px;

    color: #181818;
  }
  p {
    padding-top: 20px;
    color: #333;
  }
  ul {
    padding-top: 20px;
    padding-left: 25px;
  }
  img {
    width: 100%;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  .portfolio-left {
    display: flex;

    width: 45vh;
  }
  .portfolio-right {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 45vh;
    .links {
      padding-top: 20px;
      display: flex;
      width: 100%;
      justify-content: flex-end;

      button {
        outline: none;
        margin-left: 15px;
        cursor: pointer;
        text-align: center;
        width: 143px;
        height: 40px;
        color: #333;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        border: #643173;
        border-style: solid;
        border-width: 3px;
        border-radius: 6px;
        letter-spacing: 1px;
        background: none;

        &:hover {
          transition-duration: 0.3s;
          background-color: #643173;
          color: white;
          border: #643173;
          border-style: solid;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .portfolio {
    flex-direction: column;

    img {
      width: 100%;
    }
    h2 {
      padding-top: 20px;
    }
    h3 {
      padding-top: 20px;
    }
    p {
      padding-top: 20px;
    }
    ul {
      padding-top: 20px;
      padding-left: 25px;
      padding-bottom: 20px;
    }

    .portfolio-left {
      width: 100%;
    }
    .portfolio-right {
      width: 100%;

      .links {
        justify-content: center;

        button {
          margin: 5px;
        }
      }
    }
  }
}
