<div class="portfolio">
  <div class="portfolio-left">
    <img src="{{ data.Picture }}" />
  </div>

  <div class="portfolio-right">
    <div>
      <h2>{{ data.Name }}</h2>
      <p [innerHTML]="data.Description"></p>
    </div>

    <div>
      <h3>Technologies:</h3>
      <ul>
        <li *ngFor="let item of data.Technologies">
          {{ item }}
        </li>
      </ul>
    </div>
    <div class="links">
      <div *ngIf="data.GitHub">
        <a (click)="openLink(data.GitHub)"
          ><button class="link">GitLab</button></a
        >
      </div>
      <div *ngIf="!data.GitHub"></div>

      <div *ngIf="data.Link">
        <a (click)="openLink(data.Link)"
          ><button class="link">View Project</button></a
        >
      </div>
      <div *ngIf="!data.Link"></div>
    </div>
  </div>
</div>
