@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,400&display=swap");

#fullpage {
  transition-delay: 1.8s !important;
}

.mobile {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
  }
}

.container {
  overflow: hidden;
  background-color: #000000;
  align-items: center;
  .overlay {
    background-color: white;
    position: absolute;
    width: calc(100vw - 60px);
    height: 100vh;
    z-index: 102;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .header {
    top: 0;
    position: absolute;
    font-weight: 100;
    z-index: 3;
    max-width: 1640px;
    margin: 30px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .follow {
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0.3em;
      position: relative;
      margin-right: 160px;
    }
    .follow span {
      content: "";
      display: block;
      width: 120px;
      height: 2px;
      position: absolute;
      background: white;
      right: -80%;
      top: 50%;
    }

    div {
      display: flex;
      align-items: center;

      ul {
        list-style: none;

        li {
          cursor: pointer;
          float: left;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
  .content {
    margin: auto;
    height: 100vh;
    width: 100%;
    max-width: 1640px;
    display: flex;
    justify-content: flex-start;

    z-index: 2;

    .astronaut {
      position: absolute;
      width: 426px;
      height: auto;
      opacity: 20%;

      position: absolute;
      top: 59%;
      left: 45%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    .moon {
      position: absolute;
      width: 549px;
      height: auto;
      opacity: 20%;
      top: 0px;
      right: 0px;
      z-index: -2;
    }

    .moon1 {
      position: absolute;
      top: 150%;
      left: 55%;
      transform: translate(-50%, -50%);
      z-index: -2;
      width: "658px";
    }

    .section {
      z-index: 10;
      padding: 0 !important;
    }
    .section1 {
      margin-top: 110px;
      max-width: 1640px;
      display: flex;
      z-index: -1;
      flex-direction: column;
      justify-content: center;

      .s1 {
        overflow: hidden;
        margin: 0;

        height: 381px;

        .hidetext-top-s1 {
          transform: translate(0, -100%);
          h4 {
            font-size: 20px;
            font-weight: 100 !important;
            color: white;
            letter-spacing: 0.2em;
            font-weight: 100;
          }

          h1 {
            margin-top: 20px;
            width: 833px;
            font-family: "Montserrat", sans-serif;
            font-size: 60px;
            font-weight: 400 !important;
            line-height: 1.2em;
          }
        }

        .hidetext-left-s1 {
          align-items: center;
          display: flex;

          transform: translate(-100%, 0);

          img {
            cursor: pointer;
            margin: 20px;
            margin-left: 0;
          }
        }
      }
    }
    .section2 {
      margin-top: 110px;
      max-width: 1640px;
      display: flex;
      z-index: -1;
      flex-direction: column;
      align-items: center;

      .s2-1 {
        height: 269px;
        width: 1180px;
        text-align: center;
        overflow: hidden;

        .hidetext-top-s2-1 {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;

          transform: translate(0, -200px);

          h4 {
            font-size: 20px;
            font-weight: 100 !important;
            color: white;
            letter-spacing: 0.2em;
          }

          h1 {
            margin-top: 20px;

            font-family: "Montserrat", sans-serif;
            font-size: 44 !important;

            font-weight: 400 !important;
            line-height: 1.2em;
          }
        }
        .about {
          padding-top: 30px;
          font-size: 20px;
          opacity: 0;
        }
      }

      .s2-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 900px;
        ul {
          margin-top: 40px;
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          list-style: none;

          flex: 1;
          width: 120px;
          height: 360px;
          overflow: hidden;

          li {
            padding: 0;
            color: white;
            transform: translate(-220px, 0);
            width: 200px;

            h1 {
              margin: 0;
              width: 80px;
            }
            p {
              margin-left: 80px;
              text-align: start;
              padding: 0px;
            }

            img {
              width: 140px;
              height: auto;
            }
          }
          div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
          }
        }
        .ul1 {
          align-items: flex-start;
        }
        .ul2 {
          align-items: center;
          li div {
            display: flex;
            align-items: center;
          }
        }

        .ul3 {
          align-items: flex-end;
        }
      }
    }

    .section3 {
      height: 95vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .s3 {
        height: 120px;
        overflow: hidden;

        .hidetext-top-s3 {
          display: flex;
          flex-direction: column;
          align-items: center;
          transform: translate(0, -200px);

          h4 {
            font-size: 20px;
            font-weight: 100 !important;
            color: white;
            letter-spacing: 0.2em;
            font-weight: 100;
          }
          h1 {
            margin-top: 20px;
            font-family: "Montserrat", sans-serif;
            font-size: 60px;
            font-weight: 400 !important;
            line-height: 1.2em;
          }
        }
      }

      .projects {
        opacity: 0;
        margin-top: 20px;
        display: flex;
        width: 70vw;
        height: 60vh;

        .project-container {
          cursor: pointer;
          border-radius: 10px;
          margin: 20px;

          flex: 1;
          display: flex;
          flex-direction: column;

          &:hover {
            img {
              opacity: 80%;
              transition-duration: 0.3s;
            }
          }

          img {
            position: absolute;
            width: 400px;
            z-index: -1;
            opacity: 30%;
          }

          h1 {
            margin-top: 0px;
            padding-left: 20px;
            font-size: 30px;
            color: white;
          }
          h3 {
            padding-top: 10px;
            padding-left: 20px;
            font-size: 18px;
            font-weight: 100;
            color: white;
          }
        }
      }
    }

    .section4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .s4 {
        height: 360px;
        overflow: hidden;
        .hidetext-top-s4 {
          display: flex;
          flex-direction: column;
          align-items: center;
          transform: translate(0, -360px);
          h4 {
            font-family: "Montserrat", sans-serif;
            font-size: 20px;
            font-weight: 100;
            line-height: 1.2em;
            color: white;
          }
          h1 {
            margin-top: 10px;
            font-family: "Montserrat", sans-serif;
            font-size: 55px;
            font-weight: 400;
            line-height: 1.2em;
          }
          img {
            margin: 40px;
          }
          .email {
            text-decoration: underline;
            margin-bottom: 10px;
          }
        }
      }

      .hidetext-bottom-s4 {
        opacity: 0;
        width: 60vw;
        display: flex;
        justify-content: space-evenly;

        div {
          padding-top: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;

          h3 {
            padding-top: 10px;
            font-size: 30px;
            font-weight: 100;
            color: white;
          }
          h4 {
            font-family: "Montserrat", sans-serif;
            font-size: 20px;
            font-weight: 100;
            line-height: 1.2em;
            color: white;
          }
        }
      }
    }
  }
}
.hamburger {
  outline: none;
}
.hamburger-inner {
  width: 30px;

  height: 2px;
  &::before {
    height: 2px;
    left: -10px;
  }
  &::after {
    height: 2px;
    width: 30px;
  }
}
