<div class="mobile" *ngIf="mobile"><h1>DEVELOPED ONLY FOR DESKOTOP</h1></div>
<div *ngIf="!mobile">
  <div class="container">
    <div class="overlay" (click)="firstAnim()">
      <div><img src="../../../assets/moon/Group 6.png" alt="logo" /></div>
    </div>
    <div class="header">
      <button
        class="hamburger hamburger--minus"
        type="button"
        (click)="onClick()"
        [ngClass]="isActive ? 'is-active' : ''"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <div>
        <p class="follow">FOLLOW US<span></span></p>
        <ul>
          <li class="social-item">
            <img src="../../../assets/moon/linkedin.png" alt="LinkedIn" />
          </li>
          <li class="social-item">
            <img src="../../../assets/moon/skype.png" alt="Skype" />
          </li>
          <li class="social-item">
            <img src="../../../assets/moon/twitter.png" alt="Twiter" />
          </li>
          <li class="social-item">
            <img src="../../../assets/moon/vimeo.png" alt="Vimeo" />
          </li>
          <li class="social-item">
            <img src="../../../assets/moon/youtube.png" alt="Youtube" />
          </li>
        </ul>
      </div>
    </div>
    <div class="content">
      <img
        class="astronaut"
        src="../../../assets/moon/Image 1.png"
        alt="astronaut"
      />
      <img
        class="moon"
        src="../../../assets/moon/nasa-pd4lo70LdbI-unsplash.png"
        alt="moon"
      />
      <img class="moon1" src="../../../assets/moon/moon.png" alt="moon1" />

      <div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
        <div class="section">
          <div class="section1">
            <div class="s1">
              <div class="hidetext-top-s1">
                <h4>
                  AWARD WINING DESIGN AGENCY
                </h4>
                <h1>
                  We Solve Technical And <br />
                  Business Challenges
                </h1>
              </div>

              <div class="hidetext-left-s1">
                <img src="../../../assets/moon/Group 7.png" alt="" />
                <p>SHOW REEL</p>
              </div>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="section2">
            <div class="s2-1">
              <div class="hidetext-top-s2-1">
                <h4>WHO WE ARE</h4>
                <h1>
                  We Create World-Class Digital Products, Communications, And
                  Brands.
                </h1>
              </div>
              <p class="about">
                As a full-service UX design agency, we work closely with our
                clients to define, design, and develop transformative user
                experiences across all platforms and brand’s touch points.
              </p>
            </div>

            <div class="s2-2">
              <ul class="ul1">
                <li class="lianim"><p>Strategy</p></li>
                <li class="lianim"><p>Brand Identity</p></li>
                <li class="lianim"><p>UI/UX Design</p></li>
                <li class="lianim"><p>Development</p></li>
                <li class="lianim"><p>Mobile Apps</p></li>
                <li class="lianim"><p>Websites</p></li>
                <li class="lianim"><p>Enterprise</p></li>
              </ul>
              <ul class="ul2">
                <li class="lianim">
                  <div>
                    <h1>10</h1>
                    <h3>YEARS</h3>
                  </div>
                </li>
                <li class="lianim">
                  <div>
                    <h1>04</h1>
                    <h3>AWARDS</h3>
                  </div>
                </li>
                <li class="lianim">
                  <div>
                    <h1>02</h1>
                    <h3>OFFICES</h3>
                  </div>
                </li>
              </ul>
              <ul class="ul3">
                <li class="lianim">
                  <img src="../../../assets/moon/Image 5.png" alt="Nike" />
                </li>
                <li class="lianim">
                  <img src="../../../assets/moon/Image 3.png" alt="Coca Cola" />
                </li>

                <li class="lianim">
                  <img src="../../../assets/moon/Image 7.png" alt="ebay" />
                </li>
                <li class="lianim">
                  <img src="../../../assets/moon/Image 6.png" alt="FOX" />
                </li>
                <li class="lianim">
                  <img src="../../../assets/moon/Image 8.png" alt="Sony" />
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="section3">
            <div class="s3">
              <div class="hidetext-top-s3">
                <h4>RECENT PROJECTS</h4>
                <h1>
                  We Working With Technology Aesthetics
                </h1>
              </div>
            </div>

            <div class="projects">
              <div class="project-container">
                <img src="../../../assets/moon/picasa.png" alt="" />
                <h3>GALLERY</h3>
                <h1>PICASA</h1>
              </div>
              <div class="project-container">
                <img src="../../../assets/moon/realestate.png" alt="" />
                <h3>SMART BUILDERS</h3>
                <h1>REAL ESTATE</h1>
              </div>
              <div class="project-container">
                <img src="../../../assets/moon/smartai.png" alt="" />
                <h3>DEEP TECH</h3>
                <h1>SMART AI</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="section4">
            <div class="s4">
              <div class="hidetext-top-s4">
                <h4>REACH US</h4>
                <h1>Let's Talk</h1>
                <img src="../../../assets/moon/Path 12.png" alt="" />
                <h1 class="email">Hello@Studio89.Com</h1>
              </div>
            </div>

            <div class="hidetext-bottom-s4">
              <div>
                <h4>MOBILE</h4>
                <h3>+91 98765 43210</h3>
              </div>
              <div>
                <h4>LOCATION</h4>
                <h3>#23 HRBR LAYOUT, INDIA</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
