<div class="container" [ngClass]="isActive ? 'active' : ''">
  <div class="left-about">
    <div>
      <h1 class="h1-about">About me</h1>
      <p class="p-about">
        Hi, my name is Anže Škulj. I'm a 25 year-old Web & Game developer from
        Slovenia. <br /><br />
        2010 – In the freshman year of High school in Computer science program
        and got introduced to programming with Java, PHP,MySq, HTML, CSS,
        Js..<br /><br />
        2014 – After high school, I started developing games for android and iOS
        using Unity 3D and C#.<br /><br />
        2018 – At the end of 2018 I moved to front end development. Developing
        websites with Wordpress, HTML, CSS, JS. <br /><br />
        2019 - In the second half of 2019, I started developing with Flutter and
        Angular
        
        <br /><br />
        2020 - Mostly working with Vue.js and Flutter 
        <br />
      </p>
    </div>
  </div>
  <div class="right-about">
    <div>
      <div>
        <embed src="../../assets/trex.html" width="100%" height="220" />
      </div>
    </div>
  </div>
</div>
