.container {
  flex-direction: row;
}
.left-about {
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    width: 76%;
  }
}
.right-about {
  height: 100vh;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  div {
    width: 80%;
  }
}

p {
  padding-top: 20px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding-top: 80px;
    display: block;

    flex-direction: column;
    .left-about {
      height: auto;
      width: 100%;

      div {
        width: 85%;
      }
    }
    .right-about {
      width: 100%;
      height: auto;
      div {
        width: 100%;
      }
    }
  }
}
