<div class="mobile" *ngIf="mobile"><h1>DEVELOPED ONLY FOR DESKOTOP</h1></div>
<div *ngIf="!mobile">
  <div class="container">
    <div class="header">
      <div class="logo">
        <svg
          routerLink="kawasaki"
          xmlns="http://www.w3.org/2000/svg"
          width="124.909"
          height="20"
          viewBox="0 0 124.909 20"
        >
          <path
            id="Path_3"
            data-name="Path 3"
            d="M59.277,12V.505h6.234V6.7l5.515-6.2h7.315L71.386,7.713,74.16,12l4.938,7.6H71.6L66.99,12,65.512,13.55v6.055H59.278V12Zm21.372,0c2.955-1.189,7.28-.505,7.28-2.235,0-1.009-1.225-1.117-1.8-1.117-.793,0-1.8.144-1.945,1.333h-5.3c0-2.955,2.09-4.649,7.568-4.649,6.594,0,6.991,2.414,6.991,5.73v6.523A1.784,1.784,0,0,0,94.2,19.35V19.6H88.47l-.252-1.478A6.872,6.872,0,0,1,82.992,20c-2.631,0-4.973-1.3-4.973-4.179A3.828,3.828,0,0,1,80.649,12ZM94.92,12l-2.09-6.272H98.2L99.749,12l.576,2.306L100.937,12l1.586-6.272h4.686L108.757,12l.577,2.306L109.911,12l1.622-6.272h5.226L114.74,12l-2.414,7.6h-5.37L104.937,12l-.145-.542-.144.542-1.838,7.6H97.406L94.92,12Zm22.847,0c2.919-1.189,7.243-.505,7.243-2.235,0-1.009-1.188-1.117-1.8-1.117-.757,0-1.8.144-1.91,1.333h-5.334c0-2.955,2.127-4.649,7.6-4.649,6.559,0,6.955,2.414,6.955,5.73v6.523a1.782,1.782,0,0,0,.757,1.765V19.6h-5.695l-.288-1.478A6.824,6.824,0,0,1,120.072,20c-2.594,0-4.938-1.3-4.938-4.179A3.8,3.8,0,0,1,117.767,12Zm14.307,0a3.428,3.428,0,0,1-.612-2.091c0-3.568,3.676-4.577,6.594-4.577,3.026,0,6.559.685,6.883,4.361H139.93a1.535,1.535,0,0,0-.54-1.008,1.669,1.669,0,0,0-1.118-.36c-.936,0-1.549.325-1.549,1.009,0,1.37,4.359,1.117,6.919,2.667a3.481,3.481,0,0,1,1.838,3.171c0,2.883-2.379,4.828-7.461,4.828-3.171,0-6.7-.973-6.991-4.72h5.261a1.587,1.587,0,0,0,.576,1.3,2.375,2.375,0,0,0,1.37.4c.828,0,1.73-.252,1.73-1.226,0-1.872-5.981-.936-7.891-3.747Zm16.254,0c2.919-1.189,7.243-.505,7.243-2.235,0-1.009-1.226-1.117-1.8-1.117-.757,0-1.8.144-1.945,1.333h-5.3c0-2.955,2.089-4.649,7.6-4.649,6.559,0,6.955,2.414,6.955,5.73v6.523a1.784,1.784,0,0,0,.757,1.765V19.6h-5.73l-.252-1.478A6.824,6.824,0,0,1,150.635,20c-2.631,0-4.974-1.3-4.974-4.179A3.816,3.816,0,0,1,148.328,12Zm13.839,0V.505h5.513V9.947l3.532-4.217h6.452L172.51,11.1l.612.9,5.226,7.6h-6.632l-2.991-4.938-1.046,1.046v3.892h-5.513V12Zm16.5-6.271V19.605h5.514V5.73Zm0-5.73V3.928h5.514V0Zm-23.1,13.477c-1.8.865-4.179.432-4.179,2.235,0,.684.648,1.153,1.73,1.153,1.946,0,2.594-1.513,2.449-3.388Zm-30.56,0c-1.8.865-4.179.432-4.179,2.235,0,.684.648,1.153,1.765,1.153,1.911,0,2.559-1.513,2.414-3.388Zm-37.083,0c-1.8.865-4.18.432-4.18,2.235,0,.684.649,1.153,1.73,1.153,1.946,0,2.6-1.513,2.451-3.388Z"
            transform="translate(-59.277)"
            fill="#fff"
            fill-rule="evenodd"
          />
        </svg>
      </div>
      <div class="navbar">
        <ul>
          <li><a routerLink="kawasaki">TOP FEATURES</a></li>
          <li><a routerLink="kawasaki">GALLERY</a></li>
          <li><a routerLink="kawasaki">SPECS</a></li>
          <li><a routerLink="kawasaki">ACCESSORIES</a></li>
          <li><a routerLink="kawasaki">OFFERS</a></li>
          <li><a routerLink="kawasaki">COMPARABLE MODELS</a></li>
        </ul>
      </div>
    </div>

    <div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
      <div class="section">
        <div class="section1">
          <div class="left">
            <div>
              <img
                src="../../../assets/kawasaki/kawasaki1.png"
                alt="Kawasaki"
              />
            </div>
          </div>
          <div class="right">
            <h1>NINJA H2™R</h1>
            <h3>MSRP $55,000</h3>
            <p>
              The Kawasaki Ninja H2™R hypersport motorcycle is an engineering
              marvel, made possible only through the sourcing of technological
              expertise from multiple divisions of Kawasaki Heavy Industries,
              Ltd. (KHI). The result of this unprecedented collaboration is a
              system of carefully crafted premium components and World Superbike
              racing inspired next-level electronics that work in concert to
              create an unbelievably powerful machine—one that’s more than
              worthy of the legendary H2 name. ​
            </p>
            <a routerLink="kawasaki">LEARN MORE</a>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="section2">
          <div class="left">
            <h1>PREMIUM PERFORMANCE</h1>

            <p class="p1">
              Surrounding the Ninja H2™R motorcycle’s high-output engine are a
              multitude of premium, high-performance components, selected
              specifically for unmatchable performance at track speeds. ​​​
            </p>
            <p>
              - Commonly found in high-performance racing machines, the dog-ring
              transmission allows for effortless, short shifts
            </p>
            <p>
              - Remote shock preload adjuster makes it easy to adjust settings
              without tools to suit rider preference
            </p>
            <p>
              -
              <span style="font-weight: 300; line-height: 23px; color: #64d130;"
                >NEW</span
              >
              for 2019, dual radial-mount, opposed 4-piston Brembo Stylema®
              front calipers grip semi-floating 330mm discs for aggressive
              braking
            </p>
            <p>
              - The star-pattern 5-spoke wheels offer optimum rigidity for
              high-power performance
            </p>

            <a routerLink="kawasaki">LEARN MORE</a>
          </div>
          <div class="right">
            <div>
              <img
                src="../../../assets/kawasaki/kawasaki2.png"
                alt="Kawasaki"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="section3">
          <div>
            <h1>ADVANCED ELECTRONICS</h1>

            <p>
              Key enhancements bring Kawasaki Racing Team (KRT) WorldSBK
              championship-proven electronics management technology to the Ninja
              H2™R. This results in precise chassis orientation awareness that
              assists riders' ability to adapt to a wide range of closed-course
              riding conditions.​
            </p>
          </div>

          <img src="../../../assets/kawasaki/kawasaki3.png" alt="Kawasaki" />
          <a routerLink="kawasaki">LEARN MORE</a>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="footer-navbar">
        <ul>
          <li><a href="#">Supercharger</a></li>
          <li><a href="#">Impeller</a></li>
          <li><a href="#">Planetary Gear</a></li>
          <li><a href="#">Engine</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
