@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@300;700&display=swap");

.mobile {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
  }
}

.container {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;

  display: flex;
  justify-content: space-evenly;
  overflow-x: hidden;

  .header {
    z-index: 10;
    width: auto;
    position: absolute;
    margin: auto;
    top: 50px;
    left: 160px;
    right: 100px;
    .logo {
      svg {
        cursor: pointer;
      }
    }
    justify-content: space-between;
    display: flex;
    align-items: center;
    .navbar {
      ul {
        list-style: none;

        li {
          padding: 10px;
          margin-left: 10px;
          margin-right: 10px;
          float: left;

          a {
            transition: ease-in-out 0.1s;
            font-size: 16px;
            font-weight: bold;
            color: white;

            &:hover {
              color: #64d130;
            }
          }
        }
      }
    }
  }

  .section1 {
    height: 100vh;

    background-image: url("/assets/kawasaki/1.png");

    display: flex;
    flex-direction: row;

    .left {
      margin-top: 100px;
      width: 65%;
      display: flex;
      align-items: center;
      img {
        width: 110%;
        height: auto;
      }
    }
    .right {
      margin-top: -120px;
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        font-weight: bold;
        padding: 10px;
        color: #64d130;
        font-size: 42px;
      }
      h3 {
        font-size: 24px;
        padding: 10px;
        font-weight: bold;
        color: white;
      }

      p {
        padding: 10px;
        width: 90%;
        font-weight: 300;
        line-height: 23px;
      }
      a {
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        color: #64d130;
        text-decoration: underline;
      }
    }
  }
  .section2 {
    height: 100vh;
    background-image: url("/assets/kawasaki/2.png");

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 35%;
      margin-left: 100px;
      h1 {
        font-weight: bold;
        padding: 10px;
        color: #64d130;
        font-size: 42px;
      }
      p {
        padding: 10px;
        margin-left: 20px;
        width: 70%;
        font-weight: 300;
        line-height: 23px;
      }
      .p1 {
        width: 100%;
        margin-left: 0;
      }
      a {
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        color: #64d130;
        text-decoration: underline;
      }
    }
    .right {
      width: 65%;
      display: flex;
      align-items: flex-end;
      margin-bottom: -20px;

      img {
        justify-self: flex-end;
        width: 100%;
        height: auto;
      }
    }
  }
  .section3 {
    height: 100vh;
    background-image: url("/assets/kawasaki/3.png");

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 50px;

      h1 {
        font-weight: bold;
        padding: 10px;
        color: #64d130;
        font-size: 42px;
      }
      p {
        padding: 10px;
        margin-left: 20px;
        width: 60%;
        font-weight: 300;
        line-height: 23px;
        text-align: center;
      }
    }

    a {
      position: absolute;
      bottom: 150px;
      font-size: 18px;
      font-weight: bold;
      color: #64d130;
      text-decoration: underline;
    }
  }
}

.footer {
  z-index: 1;
  div {
    ul {
      padding-left: 100px;
      margin-top: -50px;
      list-style: none;

      li {
        padding: 10px;
        float: left;

        a {
          transition: ease-in-out 0.1s;
          color: white;
          font-size: 15px;
          opacity: 30%;

          &:hover {
            opacity: 100%;
          }
        }
      }
    }
  }
}

.active {
  padding-top: 0px !important;
}
