<div class="container" [ngClass]="isActive ? 'active' : ''">
  <div class="contact">
    <div class="contact-container">
      <h1 class="h1-contact">Contact me</h1>
      <p class="p1">
        I am interested in freelance opportunities. <br /><br />
        However, if you have other requests or questions, don’t hesitate to
        contact me using the below form either.
      </p>
      <form name="contact" method="POST" data-netlify="true">
        <input type="hidden" name="form-name" value="contact" />
        <p class="p11">
          <input type="text" name="name" placeholder="Your Name" />
        </p>
        <p class="p22">
          <input type="email" name="email" placeholder="Email" />
        </p>
        <p><input type="text" name="subject" placeholder="Subject" /></p>
        <p><textarea name="message" placeholder="Message"></textarea></p>
        <p><button class="input_button" type="submit">SEND</button></p>
      </form>
    </div>
  </div>
</div>
