.contact {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;

  .contact-container {
    overflow: hidden;
    margin-left: 6%;
    margin-right: 6%;
    width: 65vh;
    p {
      margin-top: 20px;
    }

    .p1 {
      padding-bottom: 30px;
      padding-top: 20px;
    }
    p input,
    textarea {
      color: white;
      border: none;
      padding: 10px;
      background: #181818;
    }
    ::placeholder {
      color: white;
      opacity: 0.7;
    }

    textarea {
      height: 280px;
      width: 100%;
    }

    .p11 {
      display: inline;
    }
    .p22 {
      display: inline;
    }

    input[name="subject"] {
      width: 100%;
    }

    input[name="name"] {
      width: 45%;
      margin-right: 3.5%;
    }
    input[name="email"] {
      width: 45%;
    }

    button {
      float: right;
      text-align: center;
      width: 173px;
      height: 47px;
      color: white;
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
      border: #643173;
      border-style: solid;
      border-width: 3px;
      border-radius: 6px;
      letter-spacing: 1px;
      background: none;

      &:hover {
        transition-duration: 0.3s;
        background-color: #643173;
        border: #643173;
        border-style: solid;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    margin-left: 0px;
    display: block;
    flex-direction: row;
    width: 100%;
    padding-top: 80px;
  }
  input[name="name"] {
    width: 100% !important;
    margin-bottom: 20px;

    background-position: 90% 50% !important;
  }
  input[name="email"] {
    width: 100% !important;
  }
  button {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 340px) {
  button {
    width: 133px;
    height: 37px;
    margin-bottom: 20px;
  }
}
