.container {
  justify-content: flex-start;
  li {
    float: left;
    list-style: none;
  }
}
.portfolio-item {
  margin: 20px;

  a {
    cursor: pointer;
  }
  .portfolio-picture {
    height: 250px;
    width: 250px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      cursor: pointer;
      width: 255px;
      height: 200px;
      border-radius: 5px;
    }
  }
}

.portfolio-footer {
  display: flex;
  justify-content: space-between;

  .portfolio_name {
    margin: 0;
    color: white;

    font-size: 18px !important;
    margin-left: 2px;
    font-weight: 500;
    letter-spacing: 0.2px;
  }

  .project_footer_right {
    a svg g #Group_13 path,
    a svg #eye path {
      fill: white;
    }
    p:hover a svg g #Group_13 path,
    p:hover a svg #eye path {
      fill: #643173;
    }

    display: flex;
    margin-right: 2px;

    .project_link {
      transform: scale(0.7);
      margin: 0;
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding-top: 80px;

    .portfolio {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .portfolio-item {
      padding: 0px;
      margin: 0px;
      height: 310px;
      width: 85%;

      .portfolio-picture {
        width: 100%;

        img {
          width: 90%;
          height: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 330px) {
  .portfolio-picture {
    width: 100%;

    img {
      width: 90%;
      height: auto !important;
    }
  }
}
