<div class="container" [ngClass]="isActive ? 'active' : ''">
  <ul>
    <li *ngFor="let item of portfolios" class="portfolio">
      <div class="portfolio-item">
        <div class="portfolio-picture">
          <img src="{{ item.Picture }}" alt="" (click)="openDialog(item)" />
        </div>

        <div class="portfolio-footer">
          <a (click)="openDialog(item)" class="portfolio_name">{{
            item.Name
          }}</a>
          <div class="project_footer_right">
            <p *ngIf="item.Link" class="project_link">
              <a (click)="openLink(item.Link)"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="36.39"
                  height="22"
                  viewBox="0 0 36.39 22"
                >
                  <g id="eye" data-name="eye" transform="translate(0 -98.725)">
                    <path
                      id="Path_31"
                      data-name="Path 31"
                      d="M18.195,98.725c-6.953,0-13.258,3.858-17.91,10.124a1.478,1.478,0,0,0,0,1.744c4.652,6.274,10.958,10.132,17.91,10.132s13.258-3.858,17.91-10.124a1.478,1.478,0,0,0,0-1.744C31.453,102.583,25.148,98.725,18.195,98.725Zm.5,18.746a7.763,7.763,0,1,1,7.139-7.24A7.713,7.713,0,0,1,18.694,117.471Zm-.231-3.579a4.18,4.18,0,1,1,3.849-3.9A4.144,4.144,0,0,1,18.463,113.893Z"
                      transform="translate(0 0)"
                    />
                  </g></svg
              ></a>
            </p>
            <p *ngIf="!item.Link" class="project_link">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="36.39"
                height="22"
                viewBox="0 0 36.39 22"
              >
                <g id="eye" data-name="eye" transform="translate(0 -98.725)">
                  <path
                    id="Path_31"
                    data-name="Path 31"
                    d="M18.195,98.725c-6.953,0-13.258,3.858-17.91,10.124a1.478,1.478,0,0,0,0,1.744c4.652,6.274,10.958,10.132,17.91,10.132s13.258-3.858,17.91-10.124a1.478,1.478,0,0,0,0-1.744C31.453,102.583,25.148,98.725,18.195,98.725Zm.5,18.746a7.763,7.763,0,1,1,7.139-7.24A7.713,7.713,0,0,1,18.694,117.471Zm-.231-3.579a4.18,4.18,0,1,1,3.849-3.9A4.144,4.144,0,0,1,18.463,113.893Z"
                    transform="translate(0 0)"
                    fill="#555"
                  />
                </g>
              </svg>
            </p>
            <p *ngIf="item.GitHub" class="project_link">
              <a (click)="openLink(item.GitHub)"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40.589"
                  height="22.004"
                  viewBox="0 0 40.589 22.004"
                >
                  <g id="html-coding" transform="translate(0 -115.08)">
                    <g
                      id="Group_13"
                      data-name="Group 13"
                      transform="translate(0 115.08)"
                    >
                      <path
                        id="Path_28"
                        data-name="Path 28"
                        d="M12.421,161.721,0,154.947V151.2l12.421-6.735v4.407l-8.655,4.158,8.655,4.314Z"
                        transform="translate(0 -142.088)"
                        fill="#fff"
                      />
                      <path
                        id="Path_29"
                        data-name="Path 29"
                        d="M180.094,137.084l8.237-22h2.6l-8.256,22Z"
                        transform="translate(-165.552 -115.08)"
                        fill="#fff"
                      />
                      <path
                        id="Path_30"
                        data-name="Path 30"
                        d="M348.843,161.7v-4.382l8.653-4.28-8.653-4.247v-4.354l12.421,6.744v3.729Z"
                        transform="translate(-320.675 -142.067)"
                        fill="#fff"
                      />
                    </g>
                  </g></svg
              ></a>
            </p>
            <p *ngIf="!item.GitHub" class="project_link">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40.589"
                height="22.004"
                viewBox="0 0 40.589 22.004"
              >
                <g id="html-coding" transform="translate(0 -115.08)">
                  <g
                    id="Group_13"
                    data-name="Group 13"
                    transform="translate(0 115.08)"
                  >
                    <path
                      id="Path_28"
                      data-name="Path 28"
                      d="M12.421,161.721,0,154.947V151.2l12.421-6.735v4.407l-8.655,4.158,8.655,4.314Z"
                      transform="translate(0 -142.088)"
                      fill="#555"
                    />
                    <path
                      id="Path_29"
                      data-name="Path 29"
                      d="M180.094,137.084l8.237-22h2.6l-8.256,22Z"
                      transform="translate(-165.552 -115.08)"
                      fill="#555"
                    />
                    <path
                      id="Path_30"
                      data-name="Path 30"
                      d="M348.843,161.7v-4.382l8.653-4.28-8.653-4.247v-4.354l12.421,6.744v3.729Z"
                      transform="translate(-320.675 -142.067)"
                      fill="#555"
                    />
                  </g>
                </g>
              </svg>
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
