<div class="container" [ngClass]="isActive ? 'active' : ''">
  <div class="left-skills">
    <div>
      <h1>
        Skills & Experiance
      </h1>
      <p>
        The main area of my expertise is front end and mobile development
        <br /><br />

        I use HTML, CSS, JS to create responsive web sites. I have
        experience with Vue and Flutter and I can create small to
        medium-sized web apps, which are showcased in my portfolio. <br /><br />
        For game development, I use Unity 3D with the help of C# and JS.<br /><br />
        For more details
        <a
          href="https://gitlab.com/skuljanze95/cv-angular/-/raw/master/src/assets/CV.pdf"
          target="_blank"
          style="text-decoration: underline; color: white;"
          >download my resume</a
        >
        or
        <a
          style="text-decoration: underline; color: white;"
          href=""
          routerLink="/contact"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          >contact</a
        >
        me. <br />
      </p>
    </div>
  </div>
  <div class="right-skills">
    <div>
      <ul id="skill-treeID" class="skill-tree">
        <li>Unity3D</li>
        <li>Linux Server</li>
        <li>Ionic</li>
        <li>Apache</li>
        <li>HTML</li>
        <li>Bootstrap</li>
        <li>MySQL</li>
        <li>C#</li>
        <li>Flutter</li>
        <li>WordPress</li>
        <li>SCSS</li>
        <li>JavaScript</li>
        <li>GraphQl</li>
        <li>CSS</li>
        <li>Angular</li>
        <li>TypeScript</li>
        <li>Firebase</li>
        <li>GitLab</li>
      </ul>
    </div>
  </div>
</div>
