.container {
  flex-direction: row;
}
.left-skills {
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    width: 76%;
  }
}
.right-skills {
  padding-top: 50px;
  height: 100vh;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  div {
    margin-left: 25%;
    width: 90%;
  }
  .skill-tree > li {
    opacity: 0;
    position: absolute;
    list-style: none;
  }
}

p {
  padding-top: 20px;
}

@media only screen and (max-width: 600px) {
  .container {
    display: block;
    flex-direction: column;
    padding-top: 80px;

    .left-skills {
      height: auto;
      width: 100%;
      div {
        width: 85%;
      }
    }
    .right-skills {
      transform: scale(0.9);
      padding-top: 190px;
      padding-bottom: 190px;

      margin-left: 5vh;
      width: 100%;
      height: auto;
      div {
        width: 95%;
        // margin-bottom: 50px;
      }
    }
  }
}

@media only screen and (max-width: 365px) {
  .right-skills {
    transform: scale(0.8) !important;
  }
}
