.nav-bar {
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #181818;
  height: 100vh;
  width: 60px;
  text-align: center;
  z-index: 1000;

  .mobile-menu-toggle {
    display: none;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    background-color: #070707;
    .logo {
      cursor: pointer;
      color: #643173;
      font-size: 50px;
      font-weight: 700;
    }
    .logo-name {
      margin-top: -10px;
      color: white;
      font-size: 13px;
      font-weight: 700;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li a {
      text-decoration: none;
    }
  }
  .Page {
    .Page1 {
      display: flex;
      height: 40px;
      align-items: center;
      justify-content: center;
    }

    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    a {
      p {
        margin: 0;
        display: none !important;

        font-size: 16px !important;
        font-weight: 600;
      }
      svg {
        height: 25px;
        width: 25px;

        fill: #fff;
      }
    }

    &:hover a {
      p {
        display: block !important;

        color: rgb(100, 49, 115);
      }
      svg {
        display: none;
      }
    }
  }
  .Link {
    height: 15px;
    margin-top: 10px;
    margin-bottom: 10px;

    a {
      p {
        font-weight: 600;
        font-size: 12px !important;
      }
    }
    &:hover a {
      p {
        color: rgb(100, 49, 115);
      }
    }
  }
}

.active-svg {
  path {
    fill: rgb(100, 49, 115);
  }
}

@media only screen and (max-width: 600px) {
  .nav-bar {
    position: fixed !important;
    width: 100%;
    height: 60px;
    flex-direction: row;

    .logo {
      margin-top: -3px;
      width: 60px;
      font-size: 40px !important;
      font-weight: 700;
    }

    .mobile-menu-toggle {
      transform: scale(0.9);
      padding-top: 3px;
      border: none;
      outline: none;
      display: inline-block;

      .hamburger {
        border: none;
        outline: none;
      }
    }

    ul {
      display: none;
    }
    .Pages {
      z-index: -12;
      transition-duration: 0.3s !important;
      background: #181818;
      display: flex;
      margin-top: 60px;
      flex-direction: row !important;
      position: fixed;
      margin-left: 100vh;

      width: 100% !important;
      justify-content: space-around;

      li {
        background: #181818;
        width: 120px;
        height: 60px;
      }
    }
  }
}

.mobile-active {
  margin-left: 0 !important;
}
