/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";
@import "../src/assets/fullpage.scss";

* {
  text-decoration: none;
  margin: 0;
  padding: 0px;
}

body {
  background-color: #333;
  font-family: "Nunito", "sans-serif";
  font-size: 18px;
}

h1 {
  color: white;
  font-size: 58px;
  line-height: 60px;
  font-weight: 500 !important;
}

p {
  color: white;

  font-size: 16px;
  letter-spacing: 0.2px;
}

.container {
  height: 100vh;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .cdk-overlay-pane {
    width: 85vw !important;
    overflow: scroll !important;
    height: 80vh;
  }

  .container {
    transition-duration: 0.3s;
    overflow-y: visible;
    margin: 0 !important;

    justify-content: center;
  }
}

.active {
  padding-top: 140px !important;
}
