<div class="container">
  <div class="home">
    <h1 class="h1-home">
      Hi,<br />
      I'm Anže<br />
      web developer.
    </h1>
    <p class="p-home">Front End Developer / Flutter</p>

    <div class="flex-container ">
      <a href="#" routerLink="/work" class="contact-btn" id="contact-b"
        >MY WORK</a
      >
      <a
        href="https://gitlab.com/skuljanze95/cv-angular/-/raw/master/src/assets/CV.pdf"
        target="_blank"
        class="cv-btn"
        >DOWNLOAD CV</a
      >
    </div>
  </div>
</div>
