.home {
  margin-left: 6%;
}

.p-home {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #b4b4b4;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.contact-btn {
  margin-right: 10px;
  padding: 10px;
  text-align: center;
  width: 173px;
  height: 47px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border: white;
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
  letter-spacing: 1px;

  &:hover {
    transition-duration: 0.3s;
    background-color: #643173;
    border: #643173;
    border-style: solid;
  }
}
.cv-btn {
  padding: 10px;
  text-align: center;
  line-height: 40px;
  width: 173px;
  height: 47px;
  color: #643173;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border: #643173;
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
  letter-spacing: 1px;

  &:hover {
    transition-duration: 0.3s;
    background-color: #643173;
    border: #643173;
    color: #181818;
    border-style: solid;
    border-radius: 6px;
    letter-spacing: 1px;
  }
}

/*-------Mobile------*/

@media only screen and (max-width: 340px) {
  .contact-btn {
    font-size: 14px;
  }
  .cv-btn {
    font-size: 14px;
  }
}
